@tailwind base;
@tailwind components;
@tailwind utilities;

.__className_aaf875{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title{
  font-size: 50px;
}

.tictactoe-board{
  display: flex;
  flex-wrap: wrap;
  height: 450px;
  width: 450px;
}

.box{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(40, 30, 42);
  height: 150px;
  width: 150px;
  font-size: 5.5rem;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
}

.bold-border {
  border: 3px solid black;
}

#countdown{
  font-size: 4rem;
  font-family: 'Roboto', sans-serif;
}